body {
    background-color: rgb(41, 41, 107);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    color: white;
}

.container {  display: grid;
    
    grid-template-columns: 0fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header2 Header Header"
      "Grabber Grabber Information"
      "Grabber Grabber Information";
  }
/* header styles here */
.Header { 
    background-color: rgb(41, 41, 107);
    grid-area: Header; 
    height: 200px;
    text-align: left;
    margin-top: 0.5%;
    margin-bottom: 1%;
    height: 50%;
    display:inline;
}

/* header button styles here */
.Header button {
    background-color: transparent;
    border: none;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 20pt;
 }
/* main image eye attention styles here */
  .Grabber { 
    grid-area: Grabber; 
    background-color: rgb(41, 41, 107);
}
/* information styles here */
  .Information { 
    grid-area: Information; 
    background-color: rgb(41, 41, 107);
}
