body {
  background-color: #343951;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-columns: 100px 1fr; /* Added width for the sidebar */
  grid-template-rows: auto 1fr 1fr; /* Header and two grids below */
  gap: 5px; /* Adjusted gap between rows */
  height: 100vh;
  margin: 0;
  padding: 10px;
  background: linear-gradient(-45deg, #000000, #192c44, #080e17, #202e56);
	background-size: 500% 500%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

#chooseyourjedi {
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px;
}

.backtopf {
  position: fixed; 
  top: 0px;
  right: 100px;
  font-size: 50pt;
}

.flip-card {
	animation: tilt-in-tl 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  height: 300px;
  width: 300px;
  perspective: 1000px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(20, 26, 32);
  color: white;
  transform: rotateY(180deg);
  border-radius: 50%;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 50%;
}

/**
 * ----------------------------------------
 * animation tilt-in-tl
 * ----------------------------------------
 */
 @keyframes tilt-in-tl {
  0% {
    transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.content {
  padding: 20px;
  padding: 20px;
  margin-left: 250px;
  height: 1000px;
  flex: 1;
  display: flex;
  background: rgb(39, 39, 52);
  justify-content: center;
}

.content .home {
  padding: 20px;
  margin-left: 200px;
  flex: 1;
  display: flex;
  background: rgb(39, 39, 52);
  justify-content: center;
}

  
  .mainbodytext {
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  
  .sidebar { grid-area: sidenav; }
  .body { grid-area: body; }

  /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #484860;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #2463c8;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #2d2d45;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* sidepanel */

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: transparent;
  border: none;
}