/*css for website.html*/
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #333;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto 1fr 1fr 1fr; /* Header and three grids below */
    gap: 10px; /* Adjusted gap between rows */
    height: 100vh;
    margin: 0;
    padding: 10px;
  }
  
.layoutweb {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }